*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container  {
    background-color:white;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

h1 {
    margin-bottom: 20px;
    color: #ff4d6d;
}

h2 {
    color: #333;
}

.answer {
    background: #ffe4ec;
    padding: 12px;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.answer:hover {
    background: #ffb3c6;
    transform: scale(1.03);
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

#nextBtn {
  background: #ff4d6d;
  color: white;
}

#nextBtn:disabled {
  background: #ffc2d1;
  cursor: not-allowed;
}

.choice-btn {
  margin: 10px;
  padding: 12px 18px;
  border-radius: 25px;
  font-size: 16px;
}

.choice-btn.yes {
  background: #ff4d6d;
  color: white;
}

.choice-btn.no {
  background: #ccc;
}

.choice-btn:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}


.side {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
